<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Zillower</title>
    <link rel="stylesheet" href="/static/styles.css">
</head>
<body>
    <h1>Zillower</h1>
    <h4>By SKY VERCAUTEREN</h4>

        <!-- Settings Button -->
    <button id="settingsButton">
        <img src="/static/Settings.png" alt="Settings" class="settings-icon">
    </button>
    
    <div class="input-container">
        <form id="addListingForm">
            <label for="url">Zillow URL:</label>
            <input type="text" id="url" name="url" placeholder="Enter Zillow URL" required>

            <label for="roommates">Number of Roommates:</label>
            <input type="number" id="roommates" name="roommates" placeholder="Enter number" required>

            <label for="overall_rating">Overall Rating (1-10):</label>
            <input type="number" id="overall_rating" name="overall_rating" placeholder="Rate overall experience" required>

            <button type="submit">Add Listing</button>
        </form>
    </div>
    <div class="input-container">
        <label>Sort By: 
            <select id="sort">
                <option value="price">Price</option>
                <option value="square_footage">Square Footage</option>
                <option value="distance">Distance</option>
                <option value="score">Recommended Score</option>
                <option value="overall_rating">Your Rating</option>
                <option value="date_available">Date Available</option>
            </select>
        </label>
        <hr>
        <label>
            Filter Group:
            <input type="radio" name="group" class="group-circle group-none" value="none">
            <input type="radio" name="group" class="group-circle group-red" value="red">
            <input type="radio" name="group" class="group-circle group-blue" value="blue">
            <input type="radio" name="group"class="group-circle group-green" value="green">
            <input type="radio" name="group" class="group-circle group-yellow" value="yellow">
            <input type="radio" name="group" class="group-circle group-purple" value="purple">
        </label>
    </div>

    <div id="listingsContainer"></div>

    <!-- Edit Popup -->
    <div id="editPopup" class="popup hidden">
        <div class="form-container">
            <form id="editListingForm">
                <input type="hidden" name="id" id="id">

                <label for="address">Address:</label>
                <input type="text" id="address" name="address" placeholder="Enter address">

                <label for="price">Rent:</label>
                <input type="number" id="price" name="price" placeholder="Enter rent amount">

                <label for="square_footage">Square Footage:</label>
                <input type="number" id="square_footage" name="square_footage" placeholder="Enter square footage">

                <label for="bedrooms">Bedrooms:</label>
                <input type="number" id="bedrooms" name="bedrooms" placeholder="Enter bedroom count">

                <label for="bathrooms">Bathrooms:</label>
                <input type="number" id="bathrooms" name="bathrooms" placeholder="Enter bathroom count">

                <label for="date_available">Date Available:</label>
                <input type="text" id="date_available" name="date_available" placeholder="Enter availability date">

                <label for="overall_rating">Overall Rating (1-10):</label>
                <input type="number" id="overall_rating" name="overall_rating" placeholder="Rate overall experience">

                <button type="submit">Save</button>
            </form>
        </div>
    </div>

    <!-- Settings Overlay -->
    <div id="settingsOverlay">
        <div class="settings-panel">
            <h2>Settings</h2>
            <form id="settingsForm">
                <label for="originAddress">Address of Origin Point:</label>
                <input type="text" id="originAddress" name="originAddress" value="120 1/2 W Laurel St A, Fort Collins, CO 80524">
                <label for="weights">Recommended Score Weights</label>
                <div class ="weight-settings" id="weights">
                    <label for="rent_weight">Rent weight</label>
                    <input type="number" id="rent_weight"value=0.3 step=0.1>
                    <label for="sqft_weight">Square Footage Weight</label>
                    <input type="number" id="sqft_weight" value=0.2 step=0.1>
                    <label for="bedrooms_weight">Bedrooms Weight</label>
                    <input type="number" id="bedrooms_weight" value=0.2 step=0.1>
                    <label for="bathrooms_weight">Bathrooms Weight</label>
                    <input type="number" id="bathrooms_weight"value=0.2 step=0.1>
                    <label for="distance_weight">Distance Weight</label>
                    <input type="number" id="distance_weight" value=0.1 step=0.1>
                </div>

                <button type="submit" class="save-settings">Save</button>
            </form>
        </div>
    </div>

    <script src="/static/app.js"></script>
</body>
</html>